$font-size-title: 3.3em;
$font-size-title-mq: 2em;
$font-size-h3: 15px;
$font-text:'Oswald', sans-serif;
$font-size-p: 15px;
$bg-buttom: #686969;
$bg-disc:rgb(255, 238, 0);
$bg-form:#0c0c0c34;
$bg-hover-contact:#3837370e;
$bg-final: green;


